body{
    margin:60px; 
}

.style1 {
  color: red;
}

.container{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}

.style2 {
  color: green;
  font-size: 16px bold;
  font-family: 'cambria';
  
}
.style3 {
  font-size: 14px ;
  
}
.style4 {
  
  height: 250px;
  width: 250px;

}
